
<div class="blogWrapper">
    <div class="single_post">
      <h2>{{{ post.title }}}</h2>
      <p>{{{ post.author }}}</p>
      <p>{{{ post.description }}}</p>
      <p>{{{ post.date }}}</p>
       <p>{{{ post.id }}}</p>
    </div>
</div>