<main>
    <div class="recentNav">
        <div class="recent">
           <h4 class="recentHeading">Recent Posts:</h4>
        </div>

        
    {{#if user}}
        <div class="allPostLink">
            <a href="/post/new">Add A Post</a>
        </div>  
    {{/if}}
    </div>
         {{#if user}}
           <p>You are now logged in!</p>
         {{/if}}
</main>

{{!-- <div class="blogWrapper">
{{#each posts }}
    <div class="each_post">
      <h2><a href="{{ this._id }}">{{{ this.title }}}</a></h2>
      <p>{{{ this.author }}}</p>
      <p>{{{ this.authorId }}}</p>
      <p>{{{ this.description }}}</p>
      <p>ID: {{{ this._id }}}</p>
    </div>
{{/each}}
</div> --}}