<div class="allBlogWrapper">
 
   {{#each users }}
    <div class="each_user">
      <img class="emoji" src="/emoji.png" alt="doodle of a people writing" /> 
      <p>{{{ this.name }}}</p>
      <p>{{{ this.email }}}</p>
       <h3><a href="/user/{{ this._id }}">{{{ this.title }}} Visit Profile</a></h3>
       <h3><a href="/post/user/{{ this._id }}">{{{ this.title }}} Visit Posts</a></h3>
    </div>
   {{/each}}

</div>